body {
	background-color: pink;
}

#main-jobs {
	width: 75% auto;
}

ul {
	list-style: none;
}

.jobs-container {
	border-style: groove;
	background-color: LightGray;
	margin: 5px auto;
	width: 90%;

}

.jobs-img {
	height: 100px;
	width: 100px;
	display: block;
	margin: 5px auto 10px;
}

h2 {
	text-align: center;
}

h3 {
	margin: 3px;
	font-style: italic;
	text-align: center;

}



