body {
	background-color: pink;
}

#main-jobs {
	width: 75% auto;
}

ul {
	list-style: none;
}

.jobs-container {
	border-style: groove;
	background-color: LightGray;
	margin: 5px auto;
	width: 90%;

}

img {
	height: 100px;
	width: 100px;
	display: inline-block;
	margin: 5px;
}

h3 {
	margin: 3px;
}



